* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color:#0d0d0d;
    padding: 40px 0 40px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 12px;
}

.btn-expandir>i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu:hover {
    background-color: #ff8e3c
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;

}

.titulo {
    width:500px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

button {
    width: 48%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

#submit:first-of-type {
    background-color: #28a745;
    color: white;
    margin-right: 4%;
}

#submit:last-of-type {
    background-color: #dc3545;
    color: white;
}

.loginButton {
    background-color: #ff8906;
    color: white;
    width: 100%;
    left: 50%;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.inputBox {
    margin-bottom: 15px;
}

.labelInput {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.inputStyle, .selectStyle {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    
}

.login-container {
    padding: 40px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 400px;
}
