* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 900vh;
    background-color: #0f0e17;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 aqua;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 12px;
}

.btn-expandir>i {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: .2s;
}

ul li.item-menu:hover {
    background-color: aqua
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;

}

.titulo {
    width:500px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}
.fundo{
    background-color: rgb(3, 2, 26);
}
.container{
    color: aliceblue;
}

.tabela{
    background-color: transparent;
    margin: auto;
    
}

th{
    padding: 0 3em;
}

