<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Formulário | Escola</title>
</head>
<style>

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inserirForm {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

</style>
<body>
    <nav class="menu-lateral">
        
        <div class="btn-expandir">
            <i class="bi bi-list"></i>
        </div>

        <ul>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="txt-link">Inicio</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="ListaAlunos.html">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <span class="txt-link">Alunos</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="InserirAlunos.html">
                    <span class="icon"><i class="bi bi-person-fill-add"></i></span>
                    <span class="txt-link">Novo aluno</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span>
                    <span class="txt-link">Atividades</span>
                </a>
            </li>
            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="bi bi-gear"></i></span>
                    <span class="txt-link">Configurações</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="inserirForm">
        <form>
            <fieldset>
                <legend>Formulário de Alunos</legend>
                <div class="inputBox">
                    <label for="nome" class="labelInput">Nome</label>
                    <input type="text" name="nome" id="nome" class="inputStyle" required>
                </div>

                <div class="inputBox">
                    <label for="nascimento" class="labelInput">Data de Nascimento</label>
                    <input type="date" name="nascimento" id="nascimento" class="inputStyle" required>
                </div>

                <div class="inputBox">
                    <label for="turma" class="labelInput">Turma</label>
                    <select name="turma" id="turma" class="selectStyle" required>
                        <option value="" disabled selected>Selecione a turma</option>
                        <option value="1ºA">1ºA</option>
                        <option value="1ºB">1ºB</option>
                        <option value="2ºA">2ºA</option>
                        <option value="2ºB">2ºB</option>
                        <option value="3ºA">3ºA</option>
                        <option value="3ºB">3ºB</option>
                    </select>
                </div>

                <div class="inputBox">
                    <label for="nac" class="labelInput">Nacionalidade</label>
                    <input type="text" name="nac" id="nac" class="inputStyle" required>
                </div>

                <div class="inputBox">
                    <label for="end" class="labelInput">Endereço</label>
                    <input type="text" name="end" id="end" class="inputStyle" required>
                </div>

                <button type="button" id="submit" onclick="enviaDados()">Cadastrar</button>
                <button type="button" id="submit" onclick="history.back()">Voltar</button>
            </fieldset>
        </form>
    </div>
</body>

</html>

<script>

    function enviaDados() {

        const params = new URLSearchParams(document.location.search);
        const formulario = {
            'funcao': 'EditarAluno',
            'dados': {
                'id': params.get("idAluno"),
                'nome': document.getElementById("nome").value,
                'nascimento': document.getElementById("nascimento").value,
                'turma': document.getElementById("turma").value,
                'nacionalidade': document.getElementById("nac").value,
                'endereco': document.getElementById("end").value,
            }
        }
        const informacao = {
            method: "POST",
            body: JSON.stringify(formulario)
        }
        const url = "../Controller/DAOalunos.php"
        const response = fetch(url, informacao)
            .then((response) => response.json()).then((data) => {
                if(data){
                    alert("Aluno editado com sucesso!")
                    window.history.back();
                }
            }).catch((error) => {
                console.log('ERRO')
            })

    }

    function BuscaDados() {

        const params = new URLSearchParams(document.location.search);
        const formulario = {
            'funcao': 'BuscarAluno',
            'dados': {
                'id': params.get("idAluno")
            }
        }
        const informacao = {
            method: "POST",
            body: JSON.stringify(formulario)
        }
        const url = "../Controller/DAOalunos.php"
        const response = fetch(url, informacao)
            .then(response => response.json()).then((data) => {
                document.getElementById('nome').value = data.NOME
                document.getElementById('turma').value = data.TURMA
                document.getElementById('nascimento').value = data.NASCIMENTO
                document.getElementById("nac").value = data.NACIONALIDADE
                document.getElementById('end').value = data.ENDERECO
            }).catch((error) => {
                console.log('ERRO')
            })

    }

    BuscaDados();
</script>