<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Cadastro</title>
</head>

<body class="fundo">
    <section>
        <div class="container">
            <table class="tabela">
                <thead>

                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Nascimento</th>
                    </tr>

                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
        <div class="container">
            <table class="table">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="button" onclick="history.back()">Voltar</button>
                </div>
            </table>
        </div>


    </section>
</body>
<script>
    ChamaLista = () => {
        let formulario = {
            funcao: 'Listar',
            dados: {
                nome: "Aluno",
                nascimento: "Nascimento",
                turma: "Turma",
                nacionalidade: "Nacionalidade",
                endereco: "Endereco",
            }
        }
        let informacao = {
            method: "POST",
            body: JSON.stringify(formulario)
        }
        let url = "../Controller/DAOalunos.php"
        let response = fetch(url, informacao)
            .then((response) => response.json()).then((data) => {
                console.log(data)

                let tbody = document.getElementById('tbody');

                for (let i = 0; i < data.length; i++) {

                    let tr = tbody.insertRow();

                    let td_id = tr.insertCell();
                    let td_aluno = tr.insertCell();
                    let td_turma = tr.insertCell();
                    let td_nascimento = tr.insertCell();

                    td_id.innerText = data[i].AlunoId
                    td_aluno.innerText = data[i].Aluno
                    td_turma.innerText = data[i].Turma
                    td_nascimento.innerText = data[i].Nascimento



                }
            })
    }
    ChamaLista()
</script>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>