<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Cadastro</title>
</head>

<body class="fundo">
    <section>
        <div class="container">
            <table class="tabela">
                <thead>
    
                    <tr >
                        <th scope="col">Id</th>
                        <th scope="col">Aluno</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Nascimento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Cidade</th>
                    </tr>
    
                </thead>
                <tbody id="tbody">
    
                </tbody>
            </table>
        </div>
        <div class="container">
            <table class="table">
                <div class="d-grid gap-2 col-6 mx-auto">
                <button  class="button" onclick="history.back()">Voltar</button>
                </div>
            </table>
        </div>
    

    </section>
</body>

</html>