<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Login</title>
</head>
<style>
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0e17;
}

</style>

<body>
    <main class="login-container">
        <header class="header">
            <h1 class="titulo">Faça o seu login</h1>
        </header>

        <div class="login-box">
            <form onsubmit="FazLogin(); return false;">
                <fieldset>
                    <div class="inputBox">
                        <label for="email" class="labelInput">Email</label>
                        <input type="email" name="email" id="email" class="inputStyle" required>
                    </div>

                    <div class="inputBox">
                        <label for="senha" class="labelInput">Senha</label>
                        <input type="password" name="senha" id="senha" class="inputStyle" required>
                    </div>

                    <a href="PrimeiroAcesso.html" style="color: #2575fc; text-decoration: none;">Primeiro acesso</a>

                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="loginButton">Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>

<script>
    FazLogin = () => {
        if(VerificaDados()){

            const formulario = {
                'funcao': 'Logar',
                'dados': {
                    'email': document.getElementById("email").value,
                    'senha': document.getElementById("senha").value,
                }
            }
            const informacao = {
                method: "POST",
                body: JSON.stringify(formulario)
            }
            const url = "../Controller/DAOlogin.php"
            const response = fetch(url, informacao)
            .then((response) => response.json()).then((data) => {
                if(data.success){
                    alert(data.message)
                    location.href = 'Inicio.html';
                } else {
                    alert(data.message)
                }
            }).catch((error) => {
                console.log('ERRO')
            })
        }
    }

    VerificaDados = () => {
        const email = document.getElementById("email").value
        const senha = document.getElementById("senha").value

        if(!email){
            alert('Digite um Email')
            return false;
        }
        if(!senha){
            alert('Digite uma senha')
            return false;
        }
        return true;
    }
</script>