<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Login</title>
</head>
<style>
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0e17;
}

</style>

<body>
    <main class="login-container">
        <header class="header">
            <h1 class="titulo">Faça o seu Cadastro</h1>
        </header>

        <div class="login-box">
            <form onsubmit="PrimeiroAcesso(); return false;">
                <fieldset>
                    <div class="inputBox">
                        <label for="nome" class="labelInput">Nome</label>
                        <input type="nome" name="nome" id="nome" class="inputStyle" required>
                    </div>
                    <div class="inputBox">
                        <label for="email" class="labelInput">Email</label>
                        <input type="email" name="email" id="email" class="inputStyle" required>
                    </div>
                    <div class="inputBox">
                        <label for="email" class="labelInput">Confirme o Email</label>
                        <input type="email" name="emailConf" id="emailConf" class="inputStyle" required>
                    </div>

                    <div class="inputBox">
                        <label for="senha" class="labelInput">Senha</label>
                        <input type="password" name="senha" id="senha" class="inputStyle" required>
                    </div>
                    <div class="inputBox">
                        <label for="senha" class="labelInput">Confirme a Senha</label>
                        <input type="password" name="senhaConf" id="senhaConf" class="inputStyle" required>
                    </div>

                    <div style="display: flex; justify-content: space-between;">
                        <button type="submit" class="loginButton">Confirmar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>

</html>

<script>
    PrimeiroAcesso = () => {
        if(VerificaDados()){

            let formulario = {
                'funcao': 'InserirAcesso',
                'dados': {
                    'nome': document.getElementById("nome").value,
                    'email': document.getElementById("email").value,
                    'senha': document.getElementById("senha").value,
                }
            }
            let informacao = {
                method: "POST",
                body: JSON.stringify(formulario)
            }
            let url = "../Controller/DAOlogin.php"
            let response = fetch(url, informacao)
            .then((response) => response.json()).then((data) => {
                console.log(data)
            }).catch((error) => {
                console.log(error)
            })
        }
    }

    VerificaDados = () => {
        
        const email = document.getElementById("email").value
        const emailConf = document.getElementById("emailConf").value
        const senha = document.getElementById("senha").value
        const senhaConf = document.getElementById("senhaConf").value

        if(email != emailConf){
            alert('Os emails devem ser iguais')
            return false;
        }
        if(senha != senhaConf){
            alert('As senhas devem ser iguais')
            return false;
        }
        if(senha.length < 5){
            alert('A senha deve possuir mais de 5 caracteres')
            return false;
        }
        return true;
    }
</script>